.App {
  max-width: 600px;
  margin: 30px auto;
  background-color: whitesmoke;
  opacity: 75%;
}

body {
  background-image: url("image/weatherbackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 200%;
  background-attachment: fixed;
  font-family: sans-serif;
}

h1 {
  font-size: 32px;
  opacity: 80%;
  line-height: 28px;
  display: block;
  font-weight: 400;
  margin-bottom: 10;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  opacity: 80%;
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
}

#temperature {
  opacity: 80%;
}
.btn {
  background-color: white;
  border-color: #0f253a;
  border-radius: 4px;
  color: #0f253a;
  opacity: 80%;
}

.btn:hover {
  background-color: #97d2ec;
  border: none;
  border-radius: 5px;
  transition: all 150ms ease-in-out;
}
